<div class="sala-container" *ngIf="sala">
  <div class="sala-box">
    <div class="sala-item">
      <h1>¡Que empiece el combate!</h1>

      <h2>{{ sala.nombre }}</h2>
    
      <button *ngIf="!flagSeleccion" class="sala-btn" (click)="cancelar()">Cancelar</button>
      <button *ngIf="!flagSeleccion" class="sala-btn" (click)="listo()">Listo</button>

      <div class="estado">
        <p>
          Anfitrión:
          <span *ngIf="sala.pAnfitrion; else esperandoA" class="listo">✔ Listo</span>
          <ng-template #esperandoA>
            <span class="esperando">Esperando…</span>
            <span class="listo">¡Listo!</span>
          </ng-template>
        </p>

        <p>
          Contrincante:
          <span *ngIf="sala.pContrincante; else esperandoC" class="listo">✔ Listo</span>
          <ng-template #esperandoC>
            <span class="esperando">Esperando…</span>
            <span class="listo">¡Listo!</span>
          </ng-template>
        </p>
      </div>
    </div>
    <div class="sala-item" id="btn-salir">
      <button class="sala-btn" (click)="salir()">Salir</button>
    </div>
    
  </div>
</div>
